<!DOCTYPE HTML>
<html lang="ja">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1,user-scalable=no">
 <title>egg</title>
 <link rel="stylesheet" href="stylesheets/draw.css">
</head>
<body ontouchmove="event.preventDefault()">
    <div class="canvas">
     <canvas id=main></canvas>
    </div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="javascripts/draw.js"></script>
</body>
</html>
