<!DOCTYPE HTML>
<html lang="ja">
<head>
 <meta charset="UTF-8">
 <title>egg</title>
</head>
<body>
    <div class="canvas">
     <canvas id=main></canvas>
    </div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  var socket = io.connect('http://bapa-egg.herokuapp.com');
  //var socket = io.connect('http://localhost:3000/');
  var s = socket.of('/socket');
  s.on('connect', function(msg) {
    console.log('connected');
  });

  s.on('throw', function(xyz) {
  	console.log(xyz);
  });

</script>
</body>
</html>
